<div class="">
    <app-header></app-header>
</div>
<div class="flex flex-row">
    <div class="">
        <app-sidebar></app-sidebar>
    </div>
    <div class="p-8">
        <div>App component</div>
        <div>------------------------router-outlet------------------------</div>
        <h1>Angular Router App</h1>
        <nav>
            <ul>
                <li><a href="/c1" routerLink="/c1" routerLinkActive="active"
                        ariaCurrentWhenActive="page">First Component</a></li>
                <li><a href="/c2" routerLink="/c2" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Second Component</a></li>
            </ul>
        </nav>
        
            <router-outlet></router-outlet>
    </div>
</div>
