<div class="w-[10vw] h-[95vh]">
    <div class="pl-4 pt-4">
        <a *ngFor="let items of list; index as i"  class=" flex flex-col w-full text-black  h-20 px-2 text-[10px] mb-4" href={{items.route}}>
            <div class="flex flex-col w-full justify-center items-center pt-2 bg-neutral-50" [ngClass]="{'bg-neutral-500 text-white': items.active}">
                <div class="!h-10" [innerHTML]="getSanitizedSvg(items.icon)"></div>
                <div class="h-4 w-full text-center">
                    {{items.name}}
                </div>
            </div>
        </a>
    </div>
</div>

